doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body

		a(href="/") Home
		span |
		a(href="/signup") Sign Up
		span |
		a(href="/signin") Sign In

		block content
